@import url(normalize.css);

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-obscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a; 
}

*{
    box-sizing: border-box;
    margin: 0 px ;
    padding: 0 px ;
    
}

header{
    background-color: var(--amarillo);
    padding: 15px;

}

body{
    font-family: 'Roboto';
    font-size:12px;
    background-color: var(--gris-claro);
}

main{
        width: 90vw;
        margin: auto;
}

footer{
    background-color: white;
    color: var(--gris-obscuro);
    text-align: center;
    padding: 20px 20px;
}

.footer-fixed{
    position: fixed;
    bottom: 0px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 15px;
    margin-bottom: -10px;
}


.contenedor-logo-buscador{
    display: flex;
    align-items: center;
}

.logo{
    width: 50%;
    margin: 5px;
}

.buscador{
    width: 50%;
    padding-left: 5px;

    position:relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--gris-obscuro);
    background-color: white;
    border-radius: 7px;
}

.text-search{
    padding-left: 5px;
    font-size: 12px;
}

.icon-buscar{
    position: absolute;
    left: 90%;
    top: 40%;
    background-color: white;
    font-size: 10px;
    z-index: 2;
}



.copy-header{
    font-weight: 400;
    text-align: center;
}

.main-navbar{
    margin-top: 15px;
    display: none;
}

.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0;
    font-size: 15px;
}


.hamburguer-bottom{
    background-color: var(--celeste);
    color: white;
    display:block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8%;
    text-align: center;
    font-size: 18px ;
    margin: auto;
}



.banner{
    width: 100%;
    margin-bottom: -5px;
}


.centrado{
    text-align: center;
    margin: auto;
}

.texto-centrado{
    text-align: center;
    font-size: 14px;
    padding: 12%;
    color:#666;
}


.section-articulos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}



.articulo{
    background-color: white;
    margin-bottom: 10px;
}

.img-articulo{
    width: 100%;
}

.info-articulo{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.contenedor-carrito{
    position:relative;
}

/* carrito de envio*/
.icon-camion{
    display: block;
    color: var(--verde);
    font-size: 14px; /*30px*/
    margin: auto; /*extra*/
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    border-color: var(--verde);
    position: absolute;
    right: 20px;
    top: -15px;

    transition: right 1s, transform 1s;
}


.articulo:hover .icon-camion{
    transform: rotate(-180deg);
    right: 30px;
}




.price-discont{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.precios{
    display: inline;
    width: 40%;
    font-size: 18px;
}

.descuentos{
    display: inline;
    width: 60%;
    font-size: 16px;
    color: var(--verde);
}

.descripciones{
    font-size: 16px;
    display: none;
}



.icon-footer{
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition-property: all;
    transition-duration: 0.5s;
}
.icon-footer:hover{
    color: var(--verde); 
}




.h-centrado{
    text-align: center;
    color: var(--gris-obscuro);
    margin-top: 20px;
    padding-bottom: 20px;
}

.container-form{
    margin: 10px 5px;
    padding: 5px;
}

.form-field{
    margin-bottom: 15px; 
    font-size: 14px;
}
.form-field label{
    margin-bottom: 5px;
    display: block;
    width:100%;
    font-style: bold;
}

.form-input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
}

.form-input-option{
    margin: 5px;
    width: 20px;
    height: 15px;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
}

.container-buttons{
    text-align: right;
}

.form-button {
    background-color: var(--celeste);
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
}

.button-login{
    width: 100%;
    background-color: var(--celeste);

    transition-property: all;
    transition-duration: 1s ;
}

.button-login:hover{
    background-color: #0022AA;
}





/*----- TABLET (481)-------*/
@media (min-width:481px) {

    .copy-header{
        max-width: 350px;
        text-align: right;
        font-size: 18px;
    }

    main{
        width: 95vw;
    }

    .main-header-top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        width: 45%;
    }
    .buscador{
        width: 55%;
    }
    .text-search{
        font-size: 10px;
    }
    .icon-buscar{
        font-size: 12px;
    }
    .copy-header{
        width: 50vw;
        font-size: 10px;
    }



    .descripciones{
        display: none;
        transition-property: all 1s;
    }

    .articulo{
        width: 45vw;
        transition: box-shadow 1s;
    }
    .articulo:hover{
        box-shadow : 0px 0px 10px rgb(100,100,100 );
    }
    .articulo:hover .descripciones{
        display: block;
        padding-top: 1rem;
    }
}





/*----- INTERMEDIO (555) TABLET-NAVEGADOR------*/
/* brackpoint agregado para ajustar menús en tablets */
@media (min-width:555px) {

    .logo{
        width: 45%;
    }
    .buscador{
        width: 55%;
    }
    .text-search{
        font-size: 12px;
    }
    .icon-buscar{
        font-size: 14px;
    }
    .copy-header{
        width: 50vw;
        font-size: 12px;
    }


    .hamburguer-bottom{
        display:none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul {
        display: flex;
        justify-content: space-around;
    }
    .main-navbar li {
        margin: 0 7px;
    }
    .main-navbar a{
        font-size: 12px;
    }

    .precios{
        width: 50%;
        font-size: 15px;
    }
    
    .descuentos{
        width: 50%;
        font-size: 15px;
    }


    .container-form{
        margin: 15px 25vw;
        padding: 5px;
    }




    .columns-footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-start;
    }
    .column33{
        width: 33%;
        padding: 5px 10px;
    }
}









/*----- NAVEGADOR------*/
@media (min-width:760px) {

    .contenedor-logo-buscador{
        width: 70vw;
    }
    .logo{
        width: 200px;
    }
    
    .text-search{
        font-size: 15px;
    }
    .icon-buscar{
        font-size: 15px;
    }
    .copy-header{
        width: 40vw;
        font-size: 15px;
    }
    .main-navbar a{
        font-size: 15px;
    }

    .articulo{
        width:22vw;
    }
}



/* Este query es parte del proyecto dela clase 20*/
@media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin:auto;
    }
    .copy-header{
        max-width: none;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar {
        font-size: 19px;
    }

}